includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
    level: 6
    databaseMigrationsPath:
        - database/migrations
        - app/Modules/*/database/migrations
    parseModelCastsMethod: true
    ignoreErrors:
    excludePaths:
        - app/Http/Middleware/HandleInertiaRequests.php
    checkModelProperties: false
    noUnnecessaryCollectionCall: true
